#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.table-container{
  /* background-color: blue; */
  border-radius: 10px;
  overflow: hidden;
  border: solid rgb(204 204 204 / 20%) 1px;
}
table{
  border-collapse: collapse;
  /* width: 100%; */
}
h1{
  font-weight: 500;
  /* font-family: ; */
}
td,th{
  border: solid rgb(204 204 204 / 20%) 1px;
  padding: 8px 30px;
}
.search_bar{
  background: none;
  border: 1px solid #cccccc8f;
  width: 600px;
  height: 46px;
  font-size: 19px;
  font-style: none;
  padding: 3px;
  border-radius: 52px;
}

.search_bar:focus,
.search_bar:focus-visible{
  background-color: #303134;
  border: none;
  outline: none;
  height: 20rem;
  border-radius: 27px;
}
.search-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-icon {
  position: absolute;
  left: 121px;
  top: 13px;
  pointer-events: none;
  color: #cccccc; /* Prevents the icon from blocking input clicks */
}

.adduser_heading {
  font-size: 58px;
  /* line-height: 1.1; */
  margin: 0;
  margin-bottom: 2rem;
}
.add_btn {
  margin: 46px 0px 0 39rem;
  background-color: rgb(35, 131, 226);
  font-weight: 500;
  padding: 8px 38px;
  /* text-align: -webkit-right; */
  /* display: flex; */
}

.adduser_main_container {
  background-color: #303134;
  border-radius: 10px;
  /* margin-top: 29rem;
  margin-bottom: 15rem; */
  padding: 2rem;
}
.userInput {
  width: 616px;
  display: flex;
  border-radius: 10px;
  border: 1px solid #bdbfc6f2;  
  background-color: #30313470;
  height: 2rem;
}
.input_container {
  margin-left: 4rem;
}
label{
  display: flex;
  color: #e1e5efc4;
  font-size: 22px;
}
.add-user-dialog{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: ease ;
}
.blur-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  filter: blur(100px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999; /* Make sure it is on top of other elements */
}
.sortbtn , .addbtn{
  margin: 9rem 1rem;
    border-radius: 25px;
    padding: 9px;
    width: 18rem;
}