#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.table-container{
  /* background-color: blue; */
  border-radius: 10px;
  overflow: hidden;
  border: solid rgb(204 204 204 / 20%) 1px;
}
table{
  border-collapse: collapse;
  /* width: 100%; */
}
h1{
  font-weight: 500;
  /* font-family: ; */
}
td,th{
  border: solid rgb(204 204 204 / 20%) 1px;
  padding: 8px 30px;
}
.searchMainContainer{
  display: flex;
  justify-content: center;
}
.search_bar{
  background: none;
  border: 1px solid #cccccc8f;
  width: 555px;
  height: 46px;
  font-size: 19px;
  font-style: none;
  padding-left: 45px;
  border-radius: 52px;
}

.search_bar:focus-visible,
.search_bar:focus{
  border:none;
  outline: none;
}
.search-container {
  position: relative;
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #303134;
  border: none;
  outline: none;
  width: fit-content;
  height: 20rem;
  border-radius: 27px;
}
.search_table{
  margin-top: 5rem;
  border-radius: 10px;
  width: fit-content;
  overflow: hidden;
  border: solid rgb(204 204 204 / 20%) 1px;
}
hr{
  margin:0;
  width: 94%;
  border:none;
  background-color: #bdc1d65f; 
  height: 1px; 
}
.search-icon {
  position: absolute;
  left: 16px;
  top: 16px;
  font-size: 21px;
  color: #cccccca6; /* Prevents the icon from blocking input clicks */
}
.suggest_search_icon{
  font-size: 20px;
  margin-right: 17px;
  color: #cccccca6;
}
.adduser_heading {
  font-size: 58px;
  margin: 0;
  margin-bottom: 2rem;
}
.add_btn {
  margin: 46px 0px 0 39rem;
  background-color: rgb(35, 131, 226);
  font-weight: 500;
  padding: 8px 38px;
}

.adduser_main_container {
  background-color: #303134;
  border-radius: 20px;
  padding: 2rem;
}
.userInput {
  width: 616px;
  display: flex;
  padding-left:12px;
  border-radius: 10px;
  border: 1px solid #bdbfc6f2;  
  background-color: #30313470;
  height: 2rem;
}
.input_container {
  margin-left: 4rem;
}
label{
  display: flex;
  color: #e1e5efc4;
  font-size: 22px;
}
.add-user-dialog{
  position: fixed;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  border: .7px solid #ffffff29;
  transform: translate(-50%, -50%);
  z-index: 1000;
  box-shadow: 0 0px 32px rgba(0, 0, 0, .5);
  transition: ease;
}
.blur-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  filter: blur(100px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999; /* Make sure it is on top of other elements */
}
button.sortbtn {
  margin-right: 4px;
}
.sortbtn , .addbtn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0rem;
  border-radius: 9px;
  padding: 3px;
  width: 7rem;
}
.sortbtn p, .addbtn p{
  border-right: 2px solid #ffffffad;
  margin-right: 9px;
  padding: 0;
  margin: 0px 3px 0 0;
}
.btn_mainContainer {
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: flex-end;
  align-content: center;
  flex-wrap: wrap;
}
.suggestMainContainer{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  margin-top: 7px;
  margin-left: 34px;
}
.suggestMainContainer p{
  margin: 2px;
  padding: 0;
  float: left;
}